
.container {
    background-image: url(images/pattern-background-desktop.svg);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-repeat: repeat
}

.div-0 {
    background-color: white;
    width: 320px;
    height: 540px;
    margin-top: 100px;
    border-radius: 10px;
}

.img-1 {
    width: 320px;
    border-radius: 10px 10px 0px 0px;

}

.div-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-1 {
    text-align: center;
}

.div-2 {
    display: flex;

}

.img-2 {
    width: 50px;
    height: 50px;
    margin: 27px 10px 27px 27px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 33px;
}

.p-11 {
    margin-top: 5px;
}

.p-2 {
    margin-top: 42px;
    margin-left: 52px;
}

.btn-1 {
    border: none;
    background-color: #2c33d7;
    width: 269px;
    height: 41px;
    color: white;
    border-radius: 10px;
    margin-left: 25px;
    font-weight: bold;
    cursor: pointer;
}

.btn-2 {
    border: none;
    font-weight: bold;
    margin-left: 105px;
    margin-top: 22px;
    color: gray;
    cursor: pointer;
}


body,
html {
    margin: 0px;
}

